<%provide(:title, "About") %>
<h1>About</h1>
<p>
  Twat - a person regarded as stupid or obnoxious.
</p>
<p>
This is a Faux Twitter App built with Ruby on Rails, and is based on the sample
application for <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial:
Learn Web Development with Rails</a>
</p>
