<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Github: <a href="https://github.com/SolaOmi/Twatter">SolaOmi</a>
</p>
<p>
  Twatter: <a href="https://aqueous-shore-62011.herokuapp.com/users/101">
           @solaomi</a>
</p>
<p>
  Email: solaocodes@gmail.com
</p>
